.betweenTables{
    text-align: center;
    margin: 8px 0;
}

.leverageLight{
    display: inline-block;
    height: 9px;
    width: 6px;
    border: 1px solid rgba(136,136,136,0.5);
    margin-right: 3px;
    background: rgba(82,179,112,0.1);
}
.indicatorPrice{
    color: rgba(0,0,0,0.4);
}
.orderBookH2 {
    margin-bottom: 5px;
    color: #ae543b;
}

.tooltipWrapper:not(.noHover):hover {
    background: rgba(82, 179, 112, 0.25);
}